{% comment %}
  This section displays beer metaobjects on the beers page
{% endcomment %}

<div class="drinks-page">
  <h1>{{ handle | capitalize }}</h1>
  {% assign length = metaobjects[handle].size %}
  <p>Length: {{ length }}</p>
  <p>Array: {{ metaobjects.wines.values.size }}</p>

  <div class="articles-grid">
    {% assign beers = metaobjects[handle].values %}

    {% for beer in beers %}
      <a href="#">
        <article>
          <img
            src="{{ beer.thumbnail | img_url: '300x300' }}"
            width="300"
            height="300"
            alt="{{ beer.title.value }}"
          >
          <h2>
            {{ beer.title.value }}
          </h2>
          <p>
            {{ beer.description.value }}
          </p>
        </article>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Beers Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Beers"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }
      ],
      "default": "grid"
    }
  ],
  "presets": [
    {
      "name": "Beers Collection",
      "category": "Custom Content"
    }
  ]
}
{% endschema %}
